<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>作品橱窗 | 索拉卡的神秘商店</title>
<!-- 　<link rel="shortcut icon" href="favicon.ico"/> -->
  <link rel="icon" type="image/png"  href="/favicon.ico">
</head>
<body>
  <div id="root"></div>
</body>
</html>