@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}
.root {
  color: #eee;
  font-size: 14px;
}
.banner {
  width: 232px;
  height: auto;
  margin: 59px 12px 69px 41px;
  display: flex;
}
.bannerText {
  margin-left: 6px;
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  padding-top: 18px;
}
.goodsBar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.good {
  width: 30%;
  height: 160px;
  margin: 20px 0;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.active {
  box-shadow: 0 0 0 10px #655, 0 0 0 15px deeppink, 0 2px 5px 15px rgba(0, 0, 0, 0.6);
}
.title {
  margin-bottom: 40px;
}
.desc {
  position: absolute;
  top: 70px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin: 0 6px;
}
